.formItem {
  min-height: var(--input-min-height);
  max-width: 100%;
  &.button {
    width: 100%;
  }
}
.tips {
  text-align: center;
  padding: 16px 0;
}

.formRow {
  margin-top: 8px;
}
.formItem_value {
  display: flex;
  margin-top: 4px;
}
.actions {
  padding: 0 16px 16px 16px;
  display: flex;
  justify-content: space-between;
  .removeTags,
  .removeTagsAndItems {
    width: calc(50% - 8px);
  }
}
