:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: rgba(94, 52, 191, 1);
  --welcome-bg-end: rgba(140, 75, 213, 1);
  --welcome-nav-height: 64px;
  --z-index-bottom-nav: 10;
}
