:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: rgba(94, 52, 191, 1);
  --welcome-bg-end: rgba(140, 75, 213, 1);
  --welcome-nav-height: 64px;
  --z-index-bottom-nav: 10;
  --transition-duration: 0.5s;
  --button-bg: #5c338e;
  --button-text: white;
  --button-font-size: 18px;
  --button-radius: 4px;
  --button-height: 48px;
  --float-button-text: white;
  --navbar-bg-start: rgba(94, 52, 191, 1);
  --navbar-bg-end: rgba(140, 75, 213, 1);
  --navbar-text: white;
}
